<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>Butter</string>
  <key>uuid</key>
  <string>8F3C2A91-4B6E-4D1A-9C7F-2E5A8B0D4F13</string>
</dict>
</plist>
